<header class="grid-spaceBetween-middle mainNav sticky" id="navbar">
  <nav>
    <a href="/"> Home</a>
    <a href="/about"> About Us </a>
    <a href="/blog"> Blog </a>
    <a href="#">Mormon Nomads</a>
    <a href="/photos"> Photos </a>
    <a href="/contact"> Contact Us </a>
    <a href="http://instagram.com/mornonnomads"><i class="fa fa-instagram fa-1x" aria-hidden="true"></i></a>
    <a href="http://pinterest.com/mormonnomads"><i class="fa fa-pinterest fa-1x" aria-hidden="true"></i></a>
    <a href="http://facebook.com/mormonnomads"><i class="fa fa-facebook fa-1x" aria-hidden="true"></i></a>
  </nav>
</header>
<!-- hamburger Section for Responsive
<header class="hamburger">
  <nav class="hamburger">
	<div class="hamburger-button">
			<span class="hamburger-top"></span>
			<span class="hamburger-middle"></span>
			<span class="hamburger-bottom"></span>
	</div>
  <div class="hamburger-menu">
    <ul>
    <li><a href="/index">Home</a></li>
    <li><a href="/Our Story">About Us</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="/shop.html">Shop The Prints</a></li>
      <hr />
    <a class="socialIcon" href="https://www.instagram.com/justynjen/?hl=en"target="blank"><i class="fa fa-instagram " aria-hidden="true"></i></a>
    <a class="socialIcon" href="https://www.facebook.com/justynjen/"target="blank"><i class="fa fa-facebook-official " aria-hidden="true"></i></a>
    <a class="socialIcon" href="https://www.pinterest.com/justynjen/"target="blank"><i class="fa fa-pinterest " aria-hidden="true"></i></a>
  </ul>
</div>
</nav>
</header> -->
